// mixins
@mixin mobile {
  @media (max-width: #{$tablet-width}){
    @content;
  }
}

// include
@include mobile {

  body.page-template-default,
  body.single-teammembers{

    main, aside{
      margin-bottom: 0;
      padding: 0;
      width: 100%;
    }

    aside{
      padding-bottom: 20px;
    }
  }

  ul#menu-menu{
    .sub-menu{
      z-index: 999;
      padding-top: 50px;
      color: white;
      //            display: none;
      //
      //            &.visible{
      //                display: block;
      //            }

      li.menu-item{
        color: white;
        background: transparent !important;

        a{
          color: white;
        }
      }
    }
  }

  section.headerslider{
    padding: 20% 50%;

    .slide{
      background-size: cover;
      background-position: center;
    }
  }

  .pagewrap.slider{
    padding: 20% 0;
  }

  section.newsitems{
    div.newsitem{
      div.content{
        width: 100%;
      }
      div.post-author{
        margin-top: 20px;
        width: 100%;

        h2{display: none;}
        img{
          margin-left: 0;
        }
      }
    }
  }

  section#logo{
    max-width: 75%;
    float: left;
  }

  .pagewrap{
    padding:0 10px;
  }

  header#main{
    //        padding-bottom: 20px;

    section.header-widgets{
      width: 100%;
      float: none;
      margin-top: 0;
      box-sizing: border-box;
      padding: 5% 5% 0% 5%;

      form label{
        margin: 15px 0;
        width: 100%;
      }

      form input[type="search"]{
        padding: 10px 15px;
        width: 100%;
      }
    }

    nav{
      padding: 5% 0;
      z-index: 9999;
      width: 200px;


      &.visible{
        .close{
          display: block;
        }
      }

    }

    nav ul.menu{
      li.menu-item{
        margin: 5px 0 !important;
        position: relative;
        margin-bottom: 30px;
        padding: 20px;

        a{
          color: white;
          padding-bottom: 0;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 8px;
          padding: 0 20px 14px;
        }

        &:hover, &.current-menu-item{
          border: 0;
          background: white;

          a{
            color: $color1;
          }
        }

        &.current-menu-item{
          a{


            &:before{
              content: "\f061";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              font-size: 16px;
              transition: 0.5s;
              float: left;
              display: inline-block;
              line-height: 150%;
              padding-right: 10px;
              color: $color1;
            }
          }
        }
        .sub-menu{
          padding: 135px 0 0 0;
          .menu-item{
            &:hover{
              a{
                color: $color1;
                border-bottom: 2px solid $color1;
              }
            }
            &.current-menu-item {
              a{
                color: $color1;
                border-bottom: 2px solid $color1;
              }
            }
            a{
              color: white;

              &:hover{
                color: $color1;
              }
            }
          }
          &.visible{
            li.menu-item{
              padding: 0;

              a{
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                word-break: break-word;
                font-size: 14px;
                padding: 0 20px 8px;

                &:hover{
                  margin-bottom: -2px;
                }
              }
            }
          }
        }
      }
    }

    nav .close{
      color: white;
      top: 5px;
      right: 0px;
      text-align: center;
      line-height: 150%;
      z-index: 999;
    }

    .toggle-menu-button{
      margin: 45px 0;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAcCAYAAADm63ZmAAAAaUlEQVRYR+2WMQ7AMAgDTd4ZqQ/On5IO7W5PwYOZLWEdCFNzPguoAZyN9vp8VEzRSTiTouYbBNXQk7aMKYroF4RUSKkEVF1ihpNyjhnLL4Ejva/I8VSZh1RIqQRUnedOWR7PmKJLZRzIL701RrX9ChjDAAAAAElFTkSuQmCC);
      background-size:contain;
      position: relative;
      display: block;
      // background-color: green;
      width:35px;
      height:26px;
      border-radius: 0;
      border:0;
      padding: 0;
      float: right;

      &:after{
        display: none;
      }

      &:hover{
        border:0;
      }
    }
  }

  section.teammembers, main aside, main section.specialisaties{
    width: 100%;
  }

  footer#main{

    a, span{
      font-size: 14px;
      line-height: 150%;
    }
    section.menu{
      @include span(6 of 12);

      &.advocaten{
        @include span(6 of 12 last);
      }
    }

    section.contact, section.logo{
      width: 100%;
    }

    section.logo{
      margin-top: 40px;
      text-align: center;
      a{
        margin-top: 10px;
      }
      .button.contact{
        float: none;
        margin: 0 auto;
      }
    }
  }
}
