// menu styling
@include wp-core-menu( "header nav", basic, dropdown, slideIn, slideOver, $tablet-width );

.button.tel{
  text-align: left;
  line-height: 210%;
  @media (min-width: #{$tablet-width}){
    cursor: default;
    width: 201px;
  }
}

.button{
  &.contact{
    background: white;
    color: $color1;
    font-size: 16px;
    max-width: 240px;
    font-weight: 600;
    padding: 0 30px 0 10px !important;
    height: 55px !important;
    -webkit-box-shadow: -1px 2px 18px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px 2px 18px -1px rgba(0,0,0,0.32);
    box-shadow: -1px 2px 18px -1px rgba(0,0,0,0.32);
    i{
      font-size: 60px;
      margin-right: 10px;
      vertical-align: middle;
      margin-left: 15px;
    }
  }
}

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors{
  background: $color1;
  font-family: $font1;
  border: 0px !important;
  color: white;
  padding: 20px !important;
  margin:0 !important;
  font-size: 1.2em;
  margin-top: 50px !important;
  border-left: 2px solid green !important;
}

div.wpcf7-validation-errors{
  border-left: 2px solid yellow !important;
}

.button {
  &.full-width {
    width: 100%;
  }

  &.team {
    height: 46px;
    line-height: 42px;
    padding: 0 10px;
    text-align: left;
    min-width: 160px;
    width: 160px;

    i{
      font-size: 47px;
      vertical-align: middle;
      margin-right: 10px;
      margin-left: 5px;
    }

    span {
      line-height: 46px;
      // float: left;
      margin-top: 2px;
      // text-align: left;

      &.phone{
        i{
          margin-right: 15px;
        }
      }
    }

    img {
      margin-right: 10px;
      margin-top: -2px;
    }
  }
}

blockquote {
  color: $color1;
  font-family: $font1;
  font-size: 27px;
  font-weight: 500;
  line-height: 32px;
}

article h2 {
  color: black !important;
  font-size: 18px;
  margin-bottom: -20px;
}

header a.toggle-menu-button {
  // float: right;
}
//body.page-id-62{
//
//  p{
//    @include centerElement("both");
//  }
//
//  div.visible{
//    color: white;
//    background: red;
//    @include hideElement("visible");
//    @include centerElement("both");
//    @include single-transition(all, 0.3s);
//    padding: 40px;
//    margin-top: 200px;
//
//    &:hover{
//      @include hideElement("hidden");
//    }
//  }
//
//  div.icon{
//    @include icon();
//  }
//
//  //button{
//  //  @include absolute(10px, 10px, 10px, 10px);
//  //}
//}

body{
  overflow-x: hidden;
}

section.topbar {
  height: 10px;
  width: 100%;
  background-color: $color2;

  &.double {
    height: 15px;
  }
}

section.bottombar {
  height: 10px;
  transition: all 0.3s;
  width: 100%;
  background-color: $color1;

  &.dark {
    background-color: #243c64;
  }

  &.double {
    height: 15px;
  }
  &.menu-hover{
    height: 43px;
    transition: all 0.3s;
  }
}
// Header
body{
  width: 100%;
  transition: all 0.3s;
  &.open-menu{
    padding-left: 200px;
    transition: all 0.3s;
  }
}
header#main {
  section#logo {
    margin: 40px 0;
  }

  nav {
    &:after{
      content: "";
      display: table;
      clear: both;
      width: 100%;
    }
    ul.menu li.menu-item {
      float: left;
      //            padding: 0 15px 25px 15px;
      margin: 0;

      &.menu-item-has-children:hover .sub-menu {
        visibility: visible;
        opacity: 1;
      }
      @media (min-width: #{$tablet-width}){
        .sub-menu {
          background: $color1;
          left: 0;
          right: 0;
          width: 100%;
          // height: 20px;
          border: 0;
          top: 100%;
          margin-top: 0px;
          padding: 10px 0 8px 0;

          &:before{
            content: "";
            position: absolute;
            width: 100%;
            background: $color1;
            left: -100%;
            bottom: 0;
            top: 0;
            clear: both;
          }

          &:after{
            content: "";
            position: absolute;
            width: 100%;
            background: $color1;
            right: -100%;
            bottom: 0;
            top: 0;
            clear: both;
          }

          li.menu-item{
            display: inline-block;
            width: auto;
            margin-top: -5px;
            border-top: 0;
            // padding: 10px;
            &:first-of-type{
              a{
                border-left: 0;
              }
            }
            a{
              transition: all 0.3;
              &:hover{
                color: #c1c1c1;
              }
            }
            &.current_page_item > a{
              color: #c1c1c1;
            }
          }
        }

        .menu-item a {
          padding: 0px 10px;
          color: white;
          font-size: 16px;
          border-left: 1px solid #c1c1c1;

          &:hover {
            border-bottom: 0;
          }
        }
      }

      a {
        font-family: $font1;
        font-size: 18px;
        line-height: 26px;
        display: block;
        // color: #767676;
        color: #767676;
        font-weight: 400;
        padding: 0 10px 14px;

        &:hover {
          color: #303e63;
          font-weight: 500;
          border-bottom: 2px solid $color1;
        }
      }

      &.current_page_item > a {
        color: #303e63;
        font-weight: 500;
        border-bottom: 2px solid $color1;
      }
      &.current_page_parent  > a{
        color: #303e63;
        font-weight: 500;
        border-bottom: 2px solid $color1;
      }
    }
  }

  section.header-widgets {
    margin-top: -15px;
    width: 200px;
    float: right;

    form input {
      border-radius: 0;
    }

    .screen-reader-text,
    input[type="submit"] {
      display: none;
    }

    input[type="search"] {
      // width: 125px;
      width: 100%;
    }
  }
}
.pagewrap {
  padding: 0 10px;
}

.pagewrap.slider {
  padding: 14.9% 0;
  position: relative;
}

.headerslider-navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  .next,
  .prev {
    z-index: 999;
    @include centerElement( 'vertical');
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}

section.newsitems {
  position: relative;

  h2 {
    font-family: $font1;
    font-size: 35px;
    font-weight: 400;
    line-height: 51px;
    color: $color1;
  }

  .newsitem {
    @include clearfix();
    border-bottom: 1px solid black;
    padding: 20px 0;

    .content {
      @include span(12 of 12 2);
    }

    h2 {
      font-family: $font1_light;
      font-size: 24px;
      font-weight: 300;
      line-height: 26px;
      color: $base-text-color;
      display: inherit;
    }

    span {
      color: $base-text-color;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    p.info {
      margin-top: 10px;
    }

    div.post-author {
      display: none;
      @include span(5 of 12 2 last);

      p.info {
        display: table;
        font-size: 11px;
        line-height: 15px;
        margin-top: 0;
      }

      h2 {
        margin-left: 65px;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        color: $base-text-color;
        position: absolute;
        top: 5px;
      }

      h3 {
        font-family: $font1;
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        margin-top: 0;
      }

      h4 {
        color: $base-text-color;
        font-family: BloggerSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        margin-top: -5px;
      }

      img {
        float: left;
        margin-right: 15px;
        max-width: 75px;
        text-align: right;
        margin-bottom: 20px;
        margin-left: 65px;

        &.rounded {
          border-radius: 100%;
        }
      }

      p.info {}

      &:first-of-type {
        margin-top: -60px;
      }
    }
  }
}

section.read-more {
  margin-top: 25px;
}

section.headerslider {
  padding: 15% 50%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 6;
  position: absolute;

  ul {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }

  .slide {
    bottom: 0;
    float: left;
    width: 100%;
    clear: none;
    display: inline-block;
    top: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

    img {
      //            width: 100%;
    }
  }
}

.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

section.teammembers {
  hr {
    margin: 0;
  }

  section.teammember {
    float: right;
    margin: 10px 0;

    h3 {
      font-family: $font1;
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
    }

    h4 {
      color: $base-text-color;
      font-family: BloggerSans;
      font-size: 16px;
      font-weight: 400;
      line-height: 29px;
      margin-top: -5px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  p.info {
    font-size: 11px;
    //        padding-right: 15px;
    padding-right: 5px;
  }

  img {
    float: left;
    margin-right: 20px;
  }
}

main {
  margin: 20px 0 50px;

  .about-us {
    margin-bottom: 50px;

    a {
      text-decoration: underline;
    }
  }

  hr {
    margin: 15px 0;
    background-color: black;
  }

  h2 {
    font-family: $font1;
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
  }

  h3 {
    color: #58595b;
    font-weight: 400;
    line-height: 100%;
    font-family: $font1;
    font-size: 17px;
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }

  p.info {
    padding: 0;
    margin: 0;

    a {
      text-decoration: underline;
    }
  }

  section.specialisaties {
    @include span(7 of 12 2);
  }

  aside {
    @include span(5 of 12 2 last);
  }
}

.grey {
  background: $color3;
  //    margin: 100px 0 0 0;
  padding: 40px 0;
}

footer#main {
  background: $color1;
  color: white;
  @include box-sizing();
  padding: 50px 0;
  font-size: 16px;
  display: block;
  width: 100%;

  section.contact,
  section.menu {
    @include span(5 of 24 2);

    &.advocaten {
      @include span(5 of 24 2);
    }
  }

  section.logo {
    @include span(9 of 24 2 last);
    text-align: right;
    position: relative;

    img {
      margin: 10px 0;
    }

    a {
      margin-top: 50px;
      display: block;
      &.button{
        background: white;
        color: $color1;
        max-width: 240px;
        float: right;
        font-weight: 600;
        padding: 0 25px 0 0;
        height: 55px;
        font-size: 16px;
        i{
          font-size: 60px;
          margin-right: 10px;
          vertical-align: middle;
          margin-left: 15px;
        }
      }
    }
  }

  h2 {
    color: white;
    font-weight: 400;
    line-height: 20px;
    font-size: 22px;
  }

  section.contact, section.menu{
    a,
    span {
      margin: 20px 0;
      color: white;
      text-decoration: underline;
      font-family: $font2;
      font-size: 12px;
      text-decoration: underline;
    }
  }

  span {
    text-decoration: none;
  }

  .menu ul {
    margin: 25px 0;
    padding: 0;

    li {
      width: 100%;
      margin: 0;
    }

    li a {
      margin: 20px 0;
      color: white;
      text-decoration: underline;
      font-family: $font2;
      font-size: 12px;
      text-decoration: underline;
    }
  }
}

main {
  float: left;
}

body.home {
  main {
    float: none;
  }
}

body.page-template-default {
  main {
    @include span (7 of 12 2);
  }

  aside {
    @include span (5 of 12 2 last);
    margin: 20px 0 50px;
  }
}

body.single-teammembers {
  main {
    @include span (9 of 12 2);
  }

  aside {
    @include span (3 of 12 2 last);
    margin: 20px 0 50px;
  }
}

.wpcf7 {
  form input,
  form select,
  form textarea {
    border-radius: 0;
    margin: 0;
    padding: 10px;
    border: 1px solid #d7d3cd;
    font-family: Arial;
    font-size: 12px;
  }

  .btn,
  .button,
  button,
  input[type="submit"] {
    font-family: $font1;
    font-size: 20px;
    font-weight: 500;
    width: 35%;
    float: right;
  }
}

#breadcrumbs {
  margin-top: 40px;
  margin-bottom: -20px;
  color: #767471;

  .breadcrumb_last {
    color: #454442;
  }
}

body.home #breadcrumbs {
  display: none;
}

article#page_content {
  main {

    a{
      color:$color1;
      text-decoration: underline;
      &.btn{
        color: white;
      }
    }

    h2 {
      margin-bottom: -10px;
    }

    h3 {
      margin-bottom: -10px;
      margin-top: 20px;
    }

    h4 {
      margin-bottom: -10px;
    }
  }
}
