$button_padding: 11px 20px 10px 20px;
$button_bg_color: $color1;
$button_text_color:#fff;
$button_hover_bg_color: lighten($color1, 10%);
$button_hover_text_color: white;
$button_border_radius: 0;
$button_border_width: 0;
$button_font: $font1;
$button_font_size: 20px;
$button_font_weight: 400;