$max-page-width: 870px;
//$screen-size-mobile: 0px;
//$screen-size-tablet: 790px;
$screen-size-tablet-landscape: 1020px;
//$screen-size-desktop: 1280px;
//$screen-size-bigscreen: 1500px;

//Mobile
$mobile-width: 0px;

//Tablet
$tablet-width: 767px;
//$tablet-width: 900px;
$tablet-landscape-width: 1020px;

//Desktop
$desktop-width: 1280px;
$bigscreen-width: 1500px;
