// mixins
@mixin tablet {
  @media (min-width: #{$tablet-width -1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// include
@include tablet {

    header#main nav ul.menu li.menu-item a{
        font-size: 15px;
    }

    header#main section.header-widgets{
        width: 150px;
    }
}

@media (min-width: #{$tablet-width} -1px){
    header nav li{
        float: left;
    }
    header#main nav{
      position: relative;
    }
}
